.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  z-index: -3;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  align-self: center;
  margin: 0 0 0 64px;
}

.header__subtitle {
  line-height: 25px;
  width: 388px;
  font-size: 18px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  min-height: 350px;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px 0;
}

.section-title {
  width: 60%;
  margin:0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin:20px auto 0;
  text-align: center;
}

.table {
  display: flex;
  flex-flow: row wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table__heading {
  line-height: 1.15;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  margin-top: 20px;
  font-style: normal;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  line-height: 51px;
  font-size: 36px;
  padding-top: 100px;
}

.feynman__title {
  margin:0 auto;
  text-align: center;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}

.section-title_theme_dark {
  margin:90px auto 0;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto 90px;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}


.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  color: white;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 771px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}
